.middle{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
}
.container{
    padding: 3%;
}
.outer-div{
    width: 100%;
    height: 100%;
    background-color: #00000084;
    position: fixed;
    left: 0;
    top: 0;
}