canvas {
    border: 4px black solid;
    border-radius: 10px;
    max-width: 100%;
    /* margin: 20px 10%; */
    height: auto !important;
    /* box-sizing: content-box; */
    aspect-ratio: 16/9;
}
/* .canvas-container{ */
    /* max-height: 80vh; */
/* } */